<% content_for :head do %>
  <script type="text/javascript" src="js/jsonViewer.js"></script>
  <link href="/css/jsonViewer.css" rel="stylesheet">
<% end %>

<h1>JSON Viewer Dev</h1>

<div id="div"></div>

<script type="text/javascript">

window.data_obj = { prop1: "Property 1", prop2: "Another property" };
window.data_arr = [{ num: "one" }, { num: "two" }];

$(document).ready(function() {
  
  jsonViewer.create($('#div'), [data_obj, data_arr]);
  
});

</script>