<script>
  $(function() {
    $("#simplelist").sortable(
      {
        update: function(ev, ui) {
          $("#helper").text(ui.helper.text());
          $("#position").text(ui.helper.text());
        }
      });
    $("#simplelist").disableSelection();
  });
</script>

<h1>Sortable lists</h1>

<p><strong>ui.helper.text</strong><span id="helper"></span></p>
<p><strong>ui.position</strong><span id="position"></span></p>

<h3>Simple list</h3>
<ul id="simplelist">
  <li>Element 1</li>
  <li>Element 2</li>
  <li>Element 3</li>
  <li>Element 4</li>
</ul>

<h3>Connected lists</h3>
<ul id="connected1">
  <li>Element 1</li>
  <li>Element 2</li>
  <li>Element 3</li>
  <li>Element 4</li>
</ul>
<ul id="connected2">
  <li>Element A</li>
  <li>Element B</li>
  <li>Element C</li>
  <li>Element D</li>
</ul>


