<script>
// MODELS
  window.Elements = Backbone.Model.extend({});

  window.ElementCollection = Backbone.Collection.extend({
    model: Elements
  });

	
  // GLOBAL DATA
  window.Elements = new ElementCollection();
	
	
  $(function() {
    
    // VIEWS
    window.ElementView = Backbone.View.extend({
      tagName:"li",

      template: _.template("<span class='handle'><i class='icon-star'></i></span>&nbsp;</span><strong><%%= name %></strong>"),

      render: function() {
  			this.$el.html(this.template(this.model.toJSON()));
  			return this;
      }
    });

    window.AppView = Backbone.View.extend({
  		el: "ul#backbonelist",
  		collection: window.Elements,

      initialize: function() {
  			_.bindAll(this, 'appendItem', 'appendItems'); // remember: every function that uses 'this' as the current object should be in here

  			this.collection.bind('reset', this.appendItems); // collection event binder
  			this.collection.bind('add', this.appendItem);
      },

      appendItem: function(item) {
  		  var elementView = new ElementView({ model: item });
  		  $(this.el).append(elementView.render().el);
      },

      appendItems: function(collection) {
  			_.each(collection.models, this.appendItem);
  			this.$el.sortable({
  			  handle: ".handle"
  			  });
      }
    });
    
    $("ul#simplelist").sortable(
      {
        update: function(ev, ui) {
          $("#helper").text((ui.helper) ? ui.helper.text() : "undefined");
          $("#position").text(ui.position);
        }
      });
    $("ul#simplelist").disableSelection();
    
    $('a#add').click(function() {
      window.Elements.add({ name: "New Element" });
    });
    
    window.App = new AppView();
    window.Elements.reset([{ name: "Element A" }, { name: "Element B" }, { name: "Element C" }]); // kick off the rendering
  });
</script>

<h1>Sortable lists</h1>

<p><strong>ui.helper.text </strong><span id="helper"></span></p>
<p><strong>ui.position </strong><span id="position"></span></p>

<h3>Simple list</h3>
<ul id="simplelist">
  <li>Element 1</li>
  <li>Element 2</li>
  <li>Element 3</li>
  <li>Element 4</li>
</ul>

<h3>Backbone List</h3>
<ul id="backbonelist"></ul>

<a id="add" class="btn" href='#'>Click to add another element</a>

